body {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 1rem;
    background-color: lightgrey;
}

h1 {
    font-size: 3rem;
    font-weight: bolder;
    padding: 0 0 0.5rem 0.5rem;
    /* padding-left: 0.5rem; */
    /* padding-bottom: 0.5rem; */
}

.container {
    max-width: 70%;
    margin: 0 auto;
}

.accordion {
    color: blue;
}

.accordion:hover {
    color: black;
}

.accordion .card__icon {
    display: none;
}

.accordion:hover .card__icon  {
    display: inline;
}

.card {
    display: block;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-top: 0.1rem solid grey;
}

.card__radio {
    display: none;
}

.card__description {
    display: flex;
    justify-content: space-between;
}

.card__description .card__icon .fa-chevron-down {
    display: none;
}

.card__image {
    display: flex;
    justify-content: center;
}

.card__image img {
    max-height: 20rem;
    padding: 1rem 0 1rem 0;
    display: none;
}

.card__radio:checked ~ .card__label {
    color: black;
}

.card__radio:checked ~ label .card__image img {
    display: block;
}

.card__radio:checked ~ label .card__description .card__icon .fa-chevron-left {
    display: none;
}

.card__radio:checked ~ label .card__description .card__icon .fa-chevron-down {
    display: inline;
} 

.card:hover > label .card__image img {
    display: block;
}