body {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 1rem;
    background-color: lightgrey;
}

.container {
    max-width: 70%;
    margin: 0 auto;
}

.card {
    display: block;
    padding: 0.5rem;
    border-top: 0.1rem solid grey;
}

.card__checkbox {
    /* display: none; */
}

.card__description {
    display: flex;
    justify-content: space-between;
}

.card__image {
    display: flex;
    justify-content: center;
}

.card__image img {
    display: none;
}

.card__checkbox:checked ~ .card__image img {
    display: block;
} 